<div fxLayout="column" fxLayoutAlign="center center ">
  <div class="header" fxLayoutAlign="center center">
      Créer votre supermarché
  </div>
  <div class="body" fxLayoutAlign="center center" fxLayout='column'>
       <form class="form" #FormCreateResto=ngForm  (ngSubmit)="createSupermarche()" fxLayout='column' fxLayoutAlign="center center"> 
        <div class="formInfoRestau" fxLayout='column' fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <mat-label>Nom du supermarché</mat-label>
            <input [(ngModel)]="supermarche.name" name="name" matInput required #restaurant.name>
            <mat-icon matSuffix>store</mat-icon>
          </mat-form-field>
         <mat-form-field appearance="outline">
          <mat-label>Numéro de téléphone</mat-label>
          <input [(ngModel)]="supermarche.phoneNumber" type="tel" name="phoneNumber" matInput maxlength="14" required #phoneNumber>
          <mat-icon matSuffix>call</mat-icon>
          <p *ngIf="errorInput=='errorTel'" class="msg-error">Numero de téléphone invalide!</p>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input [(ngModel)]="supermarche.address" name="address" matInput required #restaurant.address>
            <mat-icon matSuffix>domain</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Adresse mail</mat-label>
            <input [(ngModel)]="supermarche.email" type="email" name="email" matInput required #email>
            <mat-icon matSuffix>mail</mat-icon>
            <p *ngIf="errorInput=='errorEmail'" class="msg-error">Adresse mail invalide!</p>
          </mat-form-field>
        </div>
        <div class="footer" fxLayoutAlign="center end">
          <button class="confirmerbtn" mat-raised-button [disabled]="disable">Confirmer</button>
        </div>
      </form>
</div>
</div>

