<div fxLayout="column" fxLayoutAlign="center center">
    <div id="banniere" style="background-image: url(assets/newBgImg.png)">
      <div class="bgoverlay">
      <div class="txtPrez">
        <div>
          La meilleure plateforme de commande dans les restaurants au Sénégal.
        </div>
      </div>
      <div  class="content-store">
        <div  fxLayout="row" fxLayoutAlign="start center">
          <a href="https://play.google.com/store/apps/details?id=com.soeats.app&gl=FR" target="_blank">
            <img src="assets/appStore.png" alt="google play" class="appStore-icon">
          </a>
          <span>Télécharger sur <br> <span class="txt-store">google play</span></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <a href="https://apps.apple.com/sn/app/so-eats-livraison-de-repas/id1591379441?l=fr&platform=iphone" target="blank">
            <img src="assets/apple-store.png" alt="apple store" class="appStore-icon">
          </a>
          <span> Télécharger sur <br> <span class="txt-store">  apple store</span></span>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/QrCode.png" alt="apple store" class="qr-code">
        <img src="assets/appMobile.png" alt="Notre Application mobile" class="app-mobile">
      </div>
      </div>
    </div>
</div>
