<div fxLayout="column" fxLayoutAlign="center center">
    <div id="banniere" fxLayoutAlign="center center">
      <div class="bgoverlay">
      <div class="txtPrez">
        <div >
          La première plateforme de réservation de restaurant en ligne au sénégal
        </div>
      </div>
      </div>
    </div>
    <div class="containerApropos" fxLayout="column" fxLayoutAlign="center center">
         <div class="enteteApropos" fxLayout="column"  fxLayoutAlign="center center">
             <p class="fontTitle">
                A propos de SoEats
             </p>
             <p class="fontText">
              SO-Eats est une application web de commande et de réservation en ligne dans les restaurants, boulangeries, pâtisseries, glaciers, services traiteurs... Les commandes et les réservations sont prises via l'application web auprès des restaurants partenaires et sont livrées partout à Dakar. 
             </p>
         </div>
         <div class="bodyApropos" fxLayout="column" fxLayoutAlign="center center">
            <div class="bodyVision" fxLayout="row wrap" fxLayoutAlign="start center" >
               <div class="containerVision">
                  <div class="titleVision">
                    Notre vision
                  </div>
                  <div class="textVision">
                    <p>Un petit creux ? Faites-vous livrer vos plats préférés, où et quand vous voulez depuis vos restaurants favoris, en quelques clics.  </p> 
                  </div>
               </div>
               <div class="imgVision">
                   <img class="img1" src="../../../assets/img/1.jpg" />
               </div>
               <div class="imgApproch">
                   <img class="img2" src="../../../assets/img/2.jpg" />
               </div>
            <div class="containerVision">
             <div class="titleVision">
               Notre APPROCHE 
             </div>
             <div class="textVision">
               <p>Parcourez vos restaurants et fast Food préférés près de chez vous pour vous laisser tenter, ou trouvez exactement ce dont vous avez envie avec une recherche par restaurant. Pizzas, Tacos, Burgers, Gourmandises, Cuisine locale…avec SO-Eats vous pouvez satisfaire toutes vos envies.  </p>
             </div>
            </div>
            <div class="containerVision">
              <div class="titleVision">
                COMMENT NOUS PROCEDONS 
              </div>
              <div class="textVision">
                <p>Au moment de passer votre commande, vous pouvez opter pour la livraison ou le service à emporter. Payer facilement votre commande à la livraison par cash ou mobile money. </p>
              </div>
           </div>
           <div class="imgVision">
            <img class="img3" src="../../../assets/img/6.jpg" />
           </div>
           </div>       
      <p class="fontText">
        Accédez à notre application web sur www.so-eats.com ou contactez-nous au 77 197 90 43.
      </p>
</div>