<footer>
     <div class="containerFooter">
          <div class="containerLogoAide" fxLayout="row wrap" fxLayoutAlign="center center">
               <div class="logo" fxLayoutAlign="center center">
                    <img class="imgLogo" src="../../assets/logoafricaeats.png"/>
               </div>
               <div class="AproposConditions" fxLayout="row wrap" fxLayoutAlign="start center">
                     <p class="txt" routerLink="/apropos" fxLayoutAlign="center center" >À propos de SoEats </p>
                     <p class="txt" routerLink="/contact" fxLayoutAlign="center center">Nous Contacter</p>
               </div>
          </div>
          <hr class="ligneFooter"/>
          <div class="containerIcons" fxLayout="row wrap" fxLayoutAlign="center end">
               <div class="containerTarifs" fxLayoutAlign="space-around end">
                  <p class="txt" routerLink="/confidentialite">Politique de confidentialité </p>
                  <p class="txt" routerLink="/conditions">Conditions </p>
               </div>
               <div class="icons" fxLayoutAlign="space-round center">
                    <a fxLayoutAlign="center center" href="https://www.facebook.com/So-Eats-S%C3%A9n%C3%A9gal-100672045692494/?ref=page_internal" target="blank"><mat-icon class="txt" svgIcon="facebook" inline="true"></mat-icon></a>
                    <a fxLayoutAlign="center center" href="https://www.instagram.com/soeats221/" target="blank"><mat-icon class="txt" svgIcon="instagram" inline="true" ></mat-icon></a>
                    <!-- <mat-icon class="txt" svgIcon="twitter" inline="true" ></mat-icon> -->
               </div>
               <div class="AfricatEats" fxLayoutAlign="center none">
                    <p>@2021 SoEats</p>
               </div>
          </div>
     </div>
</footer>
