.headerDetails{
  height: 40px;
  width: 100%;
  text-align: center;
}

#iconCancel{
  color: #146356;
  align-items: center;
  font-size: large;
  cursor: pointer;
  margin: 5px 5px 0px 0px;
}

.name{
  color: #146356;
  cursor: pointer;
}

.container{
    width: 100%;
    overflow-y: scroll;
 } 

.containerDetails{
   width: 90%;
   height: 380px;
   background: #FFFFFF;
   margin-top: 20px;
}

#icon-contact{
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
}

.containerCategories2{
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;   
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .productname{
    width: 55px;
  }

  .containerCategorie{
    width: 100%;
    margin: 7px;
  }

  .imgCategorie{
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }

  #menu{
    cursor: pointer;
  }

  .containerCategoriess{
    width: 100%;
    margin: 0px;
  }

  .infosCategorie{
    width: 100%;
    height: 20px;
    margin-left: 15px;
  }

  .productsMenu{
    margin: 2px 2px 2px 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;   
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
  }

  .nbProduct{
    width: 80px;
    height: 30px; 
    border: 1px solid #EBEDEE;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0px;
    text-transform: capitalize;
    color: #146356;
  }

  .ligneCategories{
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    width: 100%;
  }

  .selectCategories{
    width: 100%;
    height: 5%;
    position: relative;
    }
    

    .Select{
      position: absolute;
      background: #FFFFFF;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 4px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      margin: 5px;
      font-family: Poppins;
      }
      

      .prix {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        text-transform: capitalize;
        color: #146356;
        margin: 2px;
      }

      #icon{
        color: #146356;
        font-size: large;
        cursor: pointer;
        background: #EBEDEE;
        border-radius: 6px;
      }
  
      
    .footer{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        text-transform: capitalize;
        color: #000000;
        height: 50px;
        width: 100%;
        font-family: Poppins;
        border-radius: 4px;
        background: #EBEDEE;
        border-radius: 6px;
        margin-top: 10px;
    }

    .total {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-transform: capitalize;
        color: #161618;
        height: 100%;
    }

    .fcfa {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize;
        color: #161618;
        height: 100%;
    }

    .footerButton{
      width: 100%;
      height: 50px;
    }
  
    .confirmerbtn{
        width: 35%;
        height: 65%;
        background: #146356;
        border-radius: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: white;
    }

    .panierVide{
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #161618;
 }

 @media only screen and (min-width: 420px) and (max-width: 1360px) {

 .headerDetails{
  height: 50px;
  width: 100%;
}

.containerDetails{
  height: 340px;
}

.containerCategories2{
  font-size: 20px;
  line-height: 26px;
}

.imgCategorie{
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.infosCategorie{
  width: 98%;
  height: 30px;
  margin-left: 10px;
}

.nbProduct{
  width: 100px;
  height: 30px; 
  border: 1px solid #EBEDEE;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: capitalize;
  color: #146356;
}

.productname{
  width: 100px;
}

.prix {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #146356;
}

#icon{
  font-size: x-large;
}

#icon-contact{
 font-size: 25px;
}

.Select{
position: absolute;   
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
background: #FFFFFF;
color: rgba(0, 0, 0, 0.5);
margin: 5px;
font-family: Poppins;
}

#iconCancel{
    color: #146356;
    font-size: x-large;
    cursor: pointer;
    margin: 10px 10px 0px 0px;
}

.footer{
  font-size: 25px;
  height: 60px;
}

.total {
  font-size: 20px;
}

.fcfa {
  font-size: 20px;
}

.footerButton{
width: 100%;
height: 60px;
}

.confirmerbtn{
  width: 35%;
  height: 60%;
  background: #146356;
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: white;
}


.panierVide{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 24px;
color: #161618;
}

 }

  @media only screen and (min-width: 1361px){

 .headerDetails{
  height: 50px;
  width: 100%;
}

.containerDetails{
  height: 460px;
}

.containerCategories2{
  font-size: 20px;
  line-height: 26px;
}

.imgCategorie{
  width: 120px;
  height: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.infosCategorie{
  width: 98%;
  height: 30px;
  margin-left: 10px;
}

.nbProduct{
  width: 100px;
  height: 30px; 
  border: 1px solid #EBEDEE;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: capitalize;
  color: #146356;
}

.productname{
  width: 130px;
}


.productsMenu{  
  font-size: 12px;
}

.prix {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  color: #146356;
}

#icon{
  font-size: x-large;
}

#icon-contact{
 font-size: 25px;
}

.Select{
position: absolute;   
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
background: #FFFFFF;
color: rgba(0, 0, 0, 0.5);
margin: 5px;
font-family: Poppins;
}

#iconCancel{
    color: #146356;
    font-size: x-large;
    cursor: pointer;
    margin: 10px 10px 0px 0px;
}

.footer{
  font-size: 25px;
  height: 60px;
}

.total {
  font-size: 20px;
}

.fcfa {
  font-size: 20px;
}

.footerButton{
width: 100%;
height: 60px;
}

.confirmerbtn{
  width: 25%;
  height: 65%;
  background: #146356;
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: white;
}


.panierVide{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 24px;
color: #161618;
}

  }
