<div class="container">
    <div fxLayout='row' id="row1" >
        <div fxLayout='column' fxLayoutAlign="center" id="headcol1">
            header
        </div>
        <div fxLayout='column' fxLayoutAlign="center" id="headcol2">
            iconheader
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout='row'  id="row2">
        <div fxLayout='column' class="col1">
            plat
        </div>
        <div fxLayout='column' class="col2" fxLayoutAlign="end end">
            iconplat
        </div>
    </div>
    <div fxLayout='row' fxLayoutGap='100px' id="row3">
        <div fxLayout='column' class="col1">
            plat
        </div>
        <div fxLayout='column' class="col2" fxLayoutAlign="end end">
            iconplat
        </div>
    </div>
    <div fxLayout='row' fxLayoutGap='100px' id="row4">
        <div fxLayout='column' class="col1">
            plat
        </div>
        <div fxLayout='column' class="col2" fxLayoutAlign="end end">
            iconplat
        </div>
        </div>
        <mat-divider></mat-divider>
    <div fxLayout='row' fxLayoutGap='100px' id="row5">
        <div fxLayout='column' class="col1">
            basdepage
        </div>
    </div>
</div>
