::ng-deep .myCss .mat-dialog-container {
    width: 250px;
    height: 200px;
    padding: 0 0;
    overflow:hidden;
    background-color: #FFFFEE;
    border-radius: 10px 10px 10px 10px;
}

.bg{
    text-align: center;
}

.error{
    color: rgb(194, 11, 11);
}

.success{
    text-align: center;
    color:rgb(64, 170, 110);
}
.warn{
    color: rgb(161, 153, 28);
}
.txt{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}