<div *ngIf="supermarche.imageUrl" class="logo-r">
    <img class="img-logo" [src]="supermarche.imageUrl"/>
    <div class="modifPhoto" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="material-icons" id="icon-logo" (click)="openDialog()">
            add_a_photo
        </span>
    </div>
</div>
<div *ngIf="!supermarche.imageUrl" class="logo-r">
    <div class="img-logo" fxLayoutAlign="center center">
        Photo du supermarche
    </div>
    <div class="modifPhoto" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="material-icons" id="icon-logo" (click)="openDialog()">
                add_a_photo
            </span>
    </div>
</div>
